DB_NAME='luminalib'
DB_USER='luminalib_user'
DB_PASSWORD='1234'
DB_HOST='localhost'
DB_PORT='5432'

DEBUG='True'

BACKEND_JWT_SECRET='dcnedeirininwocoewodecnjen'
RABBITMQ_BROKER_URL='amqp://guest:guest@localhost:5672/'

LLM_PROVIDER=azure

AZURE_OPENAI_API_KEY= azure-openai-api-key-placeholder
AZURE_OPENAI_ENDPOINT= azure-openai-endpoint-placeholder
AZURE_OPENAI_DEPLOYMENT_NAME= azure-openai-deployment-name-placeholder
AZURE_OPENAI_API_VERSION= azure-openai-api-version-placeholder

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3


